h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a {text-decoration: none;}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color: #FFFFFF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.navigation {
   display: flex;
   align-items: center;
   margin-right: 332px;
}
.logo{
    margin-right: 76px;
}
.menu {
   gap: 40px;
   display: flex;
}
.menu-item {
    padding: 24px 0;
}
.link {
    padding: 24px 0;
}
.address-menu {
    display: flex;
    gap: 40px;
}

.contact {
    display: flex;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}
.sub-logo {
    color: #2e2f42;
}

.link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 
}
.link:hover,
.link:focus {
    color: #404bbf;
}
.contact-list {
    font-style: normal;
}
.contact {
    letter-spacing: 0.02em;
    color: #434455;
}
.contact:hover,
.contact:focus {
    color: #404BBF
}
.hero-section{
    background-color: #2e2f42;
    padding: 188px 0;
    }
  
 .hero-section .section-title {
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
}
.hero-section-title {
    max-width: 496px;
}

.section-title {
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #ffffff;
}
.order-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-top: 48px;
    
}
.order-button:focus,
.order-button:hover {
    background-color: #404BBF;
}

.features-section {
    padding: 120px 0;
}
.features-menu {
    display: flex;
    gap: 24px;

}
.features-menu-item {
    width: calc((100% - 72px) / 4);
}
.team-list {
    display: flex;
    gap: 24px;
}
.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.description {
    letter-spacing: 0.02em;
}
.our-team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.our-team-title {
    margin-bottom: 72px;
}
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02;
    text-transform: capitalize;
    color: #2e2f42;
    
}
.image-background {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;

}
.worker {
    padding: 32px 0;
}
.worker-name, .worker-desc{
    text-align: center;
    margin-bottom: 8px
}
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
}
.item-desc {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-list-title {
    margin-bottom: 8px;
}
.footer-sub-logo {
    color: #f4f4fd;
}
.footer-description {
    color: #F4F4FD;
}
.footer-class {
    padding: 100px 0;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}